* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(2, 2, 192);
    background-color: rgb(12, 64, 162);
}

/* fondo */
.grilla {
    width: 100%;
    height: 765px;
    background-color: rgba(12, 64, 162, 0.39);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}



.fondo {
    background-color: rgba(12, 64, 162, 0.697);
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.registro {
    background-color: rgba(255, 255, 255, 0.697);
    grid-column: 4/8;
    grid-row: 3/9;
    display: grid;
    grid-template-columns: repeat(6, 1fr);    
    grid-template-rows: 2fr 40px 2fr 2fr;
    
}

/* logo */
.logonav {
    padding-top: 15px;
    height: auto;
    grid-column: 3/5;
    grid-row: 1/2;
}

.logonav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo {
    width: 80%;

}
/* usuarios */
.usuarios {
    grid-column: 2/6;
    grid-row: 2;
    grid-column: 2/6;
    grid-row: 2;
    margin: 6px;
    text-align: center;
    font-size: 1em;
    color: rgb(26, 0, 154);
    border: none;
}

/* datos */
.rellenar {
    grid-column: 2/6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 5px;
}

.datos p {height: 15px;}

.dato1 {
    grid-column: 1/2;
    grid-row: 1;
}


.dato2 {
    grid-column: 2/3;
    grid-row: 1;
}

.dato3 {
    grid-column: 1/3;
    grid-row: 2;
}

.dato4 {
    grid-column: 1/2;
    grid-row: 3;
}

.dato5 {
    grid-column: 2/3;
    grid-row: 3;
}

.p-relleno {
    color: rgb(12, 64, 162);
    font-size: 12px;   
    text-align: left;
}

#btn-nombre,
#btn-apellido,
#btn-contraseña,
#btn-repetir {
    width: 100%;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    color: gray;
}

#btn-correo {
    width: 100%;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    color: gray;
}
/* boton registro */
.registrarse {
    grid-column: 1/8;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #btn-registrarse {
    
} */

#btn-registrarse,
p  {
    height: 30px;
    width: 50%;
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    color: gray;
}

input {
    width: 10px;
}
p, label {
    align-items: stretch;
    font-size: 10px;
    color: rgba(12, 64, 162, 0.697)
}

@media screen and (max-width: 500px) {

    .registro {
        grid-column: 2/10;
        grid-row: 2/10;
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: 2fr auto 5fr 2fr 10px;      
    }

    .logonav {
        
        grid-column: 3/5;
        grid-row: 1;
    }

    .dato1 {
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .dato2 {
        grid-column: 1/4;
        grid-row: 2;
    }
    
    .dato3 {
        grid-column: 1/4;
        grid-row: 3;
    }
    
    .dato4 {
        grid-column: 1/4;
        grid-row: 4;
    }
    
    .dato5 {
        grid-column: 1/4;
        grid-row: 5;
    }

}
