* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(2, 2, 192);
    background-color: rgb(12, 64, 162);
}

/* fondo */
.grilla {
    width: 100%;
    height: 600px;
    background-color: rgba(12, 64, 162, 0.39);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.fondo {
    background-color: rgba(12, 64, 162, 0.697);
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.registro {
    background-color: rgba(255, 255, 255, 0.697);
    grid-column: 4/8;
    grid-row: 3/9;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
}


/* flecha */
.flecha {
    height: 15px;
    grid-column: 1/3;
    grid-row: 1;
}


/* volver */
.volver {
    font-size: 12px;
    width: auto;
    height: 30px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1;
}

/* logo */
.logonav {
    padding: 15px 15px;
    height: auto;
    grid-column: 2/5;
    grid-row: 2/3;
}

.logonav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logo {
    width: 50%;

}

/* usuarios */
.usuarios {
    padding: 10px 10px;
    grid-column: 2/5;
    grid-row: 3/4;
    margin: 6px;
    text-align: center;
    font-size: 16px;
    color: rgb(26, 0, 154);
    border: none;
}

.mensaje {
    font-size: 11px;
    padding: 10px;
}

/* datos */
.rellenar {
    grid-column: 2/5;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px 5px;
    justify-items: center;
    align-items: flex-start;
}

.codigo {
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    text-align: center;
}

#ip-codigo {
    height: auto;
    width: auto;
    padding: 7px;
    text-align: center;
}

#btn-registrarse {
    height: auto;
    width: auto;
    padding: 7px;
    color: rgb(2, 2, 192);
    text-align: center;
}

@media screen and (max-width: 500px) {

    .grilla {
        width: 100%;
        height: 550px;
        background-color: rgba(12, 64, 162, 0.39);
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .fondo {
        background-color: rgba(12, 64, 162, 0.697);
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .registro {
        background-color: rgba(255, 255, 255, 0.697);
        grid-column: 2/10;
        grid-row: 2/10;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    }
}